body {


  width: 1500px;
  background-image: url('imagemfundo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: WHITE;
 margin-bottom: 150px;
 

}

.form-box{
  font-family: arial, helvetica, sans-serif;

}
.logoinicio {

margin-top: 15px;
height: 100px;



}


.titulo {



  
  padding-bottom: 0px;
  background-image: url('fundo-do-conceito-de-tecnologia-digital_52683-35037.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left top;
  margin-bottom: 52px;
  border-bottom: 3px white solid;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 0px;
  height: 120px;
  display: flex
   
}



.inicio {


background-color: #32324f;
margin-left: 0px;




}


.img-box
{

margin-left: 0px;
padding: 0;
box-sizing: border-box;
font-family: arial, helvetica, sans-serif;


  }
  
  .container-login {
    position: relative;
    width: 40%;
    height: 50px;
    display: flex;
    margin-left: 0px;


  }
  
  .img-box img {
    
    width: 1447px;
    height: 150px;
    top: 0;
    left: 50%;
    background-image: #5bb4ff;
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    


  
  }
  
  .img-box{
    
    


  }

  .content-box{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    position: absolute;
    top: 50%;
    /* parte de todo input*/
    
  }
  
  .content-box .form-box {
    width: 50%;
  }
  
  .content-box .form-box .ul {
    display: flex;
    justify-content: center;
    
  
  }
  
  .content-box .form-box .ul li{
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
  
  
  }
  
  .content-box .form-box .ul li:hover{
    background: #e4e4e4;
  }
  
  .form-box .ul li img{
    width: 40px;
  }
  
  .content-box .form-box h2{
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 15px;
    
  
  }
  
  .content-box .form-box input box{
    margin-bottom: 20px;
  }
  
  .content-box .form-box .input-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: nome;
    font-size: 17px;
    color: #32324f;
    background: #e4e4e4;
    border-radius: 5px;
  }
  
  .remember{
    
  }
  
  .content-box .form-box .input-box input::placeholder{
    color: #a9adb6;
  }
  
  .content-box .form-box .input-box input[type="submit"] {
    background: #5bb4ff;
    color: #fff;
    border: none;
    outline: none; 
    max-width: 100px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    
  }
 
  /* lugar do botão de cadastrar */

